 /*main>.container {
     padding: 60px 15px 0;
 }

 a:link {
     color: gray;

 
 a:hover {
     color: lightgray;
 }
 a:active {
     color: gray;
 }*/

 a {
     color: #525252
 }

 a:hover {
     color: rgb(102, 102, 102);
 }